# =============== #
# Unity generated #
# =============== #

client/game/Temp/
client/game/Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
.vs/
client/game/*.csproj
client/game/*.sln


# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# ============ #
# OS generated #
# ============ #

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db